Repository nicolaschoi7042/itNswinventory, changes with the labels that .github/labeler.yml gives for each.
All labels: area/backend, area/database, area/docker, area/ci-cd, area/documentation, area/security, area/scripts, dependencies

.github/labeler.yml:

# GitHub Auto Labeler 설정
# 파일 변경에 따라 자동으로 라벨을 할당합니다

# 프론트엔드 관련
'area/frontend':
  - changed-files:
    - any-glob-to-any-file: ['*.html', '*.css', '*.js', 'nginx.conf']
    - all-globs-to-all-files: '!backend/**'

# 백엔드 관련
'area/backend':
  - changed-files:
    - any-glob-to-any-file: ['backend/**/*']

# 데이터베이스 관련
'area/database':
  - changed-files:
    - any-glob-to-any-file: ['backend/database.sql', 'backend/backup/**/*']

# Docker 관련
'area/docker':
  - changed-files:
    - any-glob-to-any-file: ['**/Dockerfile', 'docker-compose*.yml', '.dockerignore']

# CI/CD 관련
'area/ci-cd':
  - changed-files:
    - any-glob-to-any-file: ['.github/workflows/**/*']

# 문서 관련
'area/documentation':
  - changed-files:
    - any-glob-to-any-file: ['*.md', '.github/ISSUE_TEMPLATE/**/*', '.github/pull_request_template.md']

# 설정 파일 관련
'area/config':
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', '.gitignore', '.dockerignore', '*.yml', '*.yaml', '*.json']
    - all-globs-to-all-files: '!.github/workflows/**'

# 보안 관련
'area/security':
  - changed-files:
    - any-glob-to-any-file: ['.env*', 'backend/server.js']

# 스크립트 관련
'area/scripts':
  - changed-files:
    - any-glob-to-any-file: ['*.sh', 'backend/backup/*.sh']

# 의존성 관련
'dependencies':
  - changed-files:
    - any-glob-to-any-file: ['package*.json', 'backend/package*.json']

# 개선사항
'type/enhancement':
  - head-branch: ['feature/*', 'enhancement/*', 'feat/*']

# 버그 수정
'type/bugfix':
  - head-branch: ['fix/*', 'bugfix/*', 'hotfix/*']

# 리팩터링
'type/refactor':
  - head-branch: ['refactor/*', 'refactoring/*']

# 문서 업데이트
'type/docs':
  - head-branch: ['docs/*', 'doc/*', 'documentation/*']
  - changed-files:
    - any-glob-to-any-file: ['*.md']

# 테스트 관련
'type/test':
  - head-branch: ['test/*', 'testing/*']
  - changed-files:
    - any-glob-to-any-file: ['**/*test*', '**/*spec*']

# 성능 개선
'type/performance':
  - head-branch: ['perf/*', 'performance/*', 'optimization/*']

# UI/UX 개선
'type/ui-ux':
  - changed-files:
    - any-glob-to-any-file: ['*.css', '*.html']
  - head-branch: ['ui/*', 'ux/*', 'design/*', 'style/*']

update: mark Task 4.8 UI component testing as completed
  prompt/tasks/tasks-prd-nextjs-migration.md
Labels: none

feat: complete Task 5.0 - Core Page Migration (Login, Dashboard, Navigation)
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/components/layout/index.ts
  frontend/src/components/navigation/NavigationLayout.tsx
  frontend/src/components/navigation/index.ts
  prompt/tasks/tasks-prd-nextjs-migration.md
Labels: none

Add debug logs to troubleshoot assignment modal issue
  script.js
Labels: none

Fix modal visibility issue by correcting CSS opacity and scale
  styles-ny-business.css
Labels: none

Fix modal positioning by preserving translate and scale transforms
  styles-ny-business.css
Labels: none

Reduce height of form elements in modals for compact layout
  styles-ny-business.css
Labels: none

Improve modal system with enhanced responsive design and accessibility
  styles-ny-business.css
Labels: none

Improve modal system with enhanced responsive design and accessibility
  index.html
  script.js
Labels: none

feat: complete Task 7.0 - Hardware Asset Management Module Migration
  frontend/src/app/employees/page.tsx
  frontend/src/app/hardware/page.tsx
  frontend/src/components/ComponentIntegrationTest.tsx
  frontend/src/components/common/HighlightText.tsx
  frontend/src/components/modals/EmployeeDetailModal.tsx
  frontend/src/components/modals/EmployeeFormModal.tsx
  frontend/src/components/modals/HardwareDetailModal.tsx
  frontend/src/components/modals/HardwareFormModal.tsx
  frontend/src/components/modals/InfoDialog.tsx
  frontend/src/components/modals/index.ts
  frontend/src/services/hardware.service.ts
  frontend/src/types/employee.ts
  frontend/src/types/hardware.ts
  prompt/tasks/tasks-prd-nextjs-migration.md
Labels: none

feat: complete Task 8.0 - Software Inventory Module Migration
  frontend/src/app/software/page.tsx
  frontend/src/components/auth/AdminGuard.tsx
  frontend/src/components/auth/ManagerGuard.tsx
  frontend/src/components/auth/index.ts
  frontend/src/components/modals/SoftwareAssignmentModal.tsx
  frontend/src/components/modals/SoftwareDetailModal.tsx
  frontend/src/components/modals/SoftwareFormModal.tsx
  frontend/src/components/modals/SoftwareReturnModal.tsx
  frontend/src/components/modals/index.ts
  frontend/src/services/software.service.ts
  frontend/src/types/software.ts
  prompt/tasks/tasks-prd-nextjs-migration.md
Labels: none

feat: complete Task 9.0 - Assignment Management Module Migration
  frontend/package.json
  frontend/src/app/assignments/page.tsx
  frontend/src/components/dashboard/AssignmentStatusDashboard.tsx
  frontend/src/components/display/AssetInfoDisplay.tsx
  frontend/src/components/display/EmployeeInfoDisplay.tsx
  frontend/src/components/filters/AssignmentFilters.tsx
  frontend/src/components/filters/StatusFilter.tsx
  frontend/src/components/filters/index.ts
  frontend/src/components/guards/RoleGuards.tsx
  frontend/src/components/modals/AdvancedSearchModal.tsx
  frontend/src/components/modals/AssetReturnModal.tsx
  frontend/src/components/modals/AssignmentDetailModal.tsx
  frontend/src/components/modals/AssignmentFormModal.tsx
  frontend/src/components/modals/index.ts
  frontend/src/components/notes/AssignmentNotesEditor.tsx
  frontend/src/components/notes/index.ts
  frontend/src/components/panels/FilterPanel.tsx
  frontend/src/components/scheduling/AssignmentScheduler.tsx
  frontend/src/components/scheduling/index.ts
  frontend/src/components/search/AssignmentSearch.tsx
  frontend/src/components/tables/AssignmentTable.tsx
  frontend/src/components/validation/AssignmentValidationStatus.tsx
  frontend/src/components/visualization/StatusVisualization.tsx
  frontend/src/constants/assignment.ts
  frontend/src/hooks/useAuth.ts
  frontend/src/modules/assignment/index.ts
  frontend/src/services/assignment.service.ts
  frontend/src/types/assignment.ts
  frontend/src/utils/assetAvailability.utils.ts
  frontend/src/utils/assignment.utils.ts
  frontend/src/utils/assignmentConflicts.utils.ts
  frontend/src/utils/assignmentExport.utils.ts
  frontend/src/utils/errorHandling.utils.ts
  prompt/tasks/tasks-prd-nextjs-migration.md
Labels: none

Implement real-time LDAP user synchronization on login
  backend/server.js
Labels: area/backend, area/security

Add manual LDAP synchronization feature for admin users
  backend/lib/ldapAuth.js
  backend/server.js
  index.html
  script.js
  styles-ny-business.css
Labels: area/backend, area/security

Fix backend API port configuration and restore NY business styling
  Dockerfile
  docker-compose.yml
  styles-ny-business.css
Labels: area/docker

Fix LDAP connection issues by enabling host network mode and timeout fallback
  backend/server.js
  docker-compose.yml
Labels: area/backend, area/docker, area/security

Fix hardware asset management issues: status sync and auto-tag generation
  index.html
  script.js
Labels: none
