Repository nicolaschoi7042/itNswinventory, changes with the labels that .github/labeler.yml gives for each.
All labels: area/backend, area/database, area/docker, area/ci-cd, area/documentation, area/security, area/scripts, dependencies

.github/labeler.yml:

# GitHub Auto Labeler 설정
# 파일 변경에 따라 자동으로 라벨을 할당합니다

# 프론트엔드 관련
'area/frontend':
  - changed-files:
    - any-glob-to-any-file: ['*.html', '*.css', '*.js', 'nginx.conf']
    - all-globs-to-all-files: '!backend/**'

# 백엔드 관련
'area/backend':
  - changed-files:
    - any-glob-to-any-file: ['backend/**/*']

# 데이터베이스 관련
'area/database':
  - changed-files:
    - any-glob-to-any-file: ['backend/database.sql', 'backend/backup/**/*']

# Docker 관련
'area/docker':
  - changed-files:
    - any-glob-to-any-file: ['**/Dockerfile', 'docker-compose*.yml', '.dockerignore']

# CI/CD 관련
'area/ci-cd':
  - changed-files:
    - any-glob-to-any-file: ['.github/workflows/**/*']

# 문서 관련
'area/documentation':
  - changed-files:
    - any-glob-to-any-file: ['*.md', '.github/ISSUE_TEMPLATE/**/*', '.github/pull_request_template.md']

# 설정 파일 관련
'area/config':
  - changed-files:
    - any-glob-to-any-file: ['.github/**/*', '.gitignore', '.dockerignore', '*.yml', '*.yaml', '*.json']
    - all-globs-to-all-files: '!.github/workflows/**'

# 보안 관련
'area/security':
  - changed-files:
    - any-glob-to-any-file: ['.env*', 'backend/server.js']

# 스크립트 관련
'area/scripts':
  - changed-files:
    - any-glob-to-any-file: ['*.sh', 'backend/backup/*.sh']

# 의존성 관련
'dependencies':
  - changed-files:
    - any-glob-to-any-file: ['package*.json', 'backend/package*.json']

# 개선사항
'type/enhancement':
  - head-branch: ['feature/*', 'enhancement/*', 'feat/*']

# 버그 수정
'type/bugfix':
  - head-branch: ['fix/*', 'bugfix/*', 'hotfix/*']

# 리팩터링
'type/refactor':
  - head-branch: ['refactor/*', 'refactoring/*']

# 문서 업데이트
'type/docs':
  - head-branch: ['docs/*', 'doc/*', 'documentation/*']
  - changed-files:
    - any-glob-to-any-file: ['*.md']

# 테스트 관련
'type/test':
  - head-branch: ['test/*', 'testing/*']
  - changed-files:
    - any-glob-to-any-file: ['**/*test*', '**/*spec*']

# 성능 개선
'type/performance':
  - head-branch: ['perf/*', 'performance/*', 'optimization/*']

# UI/UX 개선
'type/ui-ux':
  - changed-files:
    - any-glob-to-any-file: ['*.css', '*.html']
  - head-branch: ['ui/*', 'ux/*', 'design/*', 'style/*']

Fix API URL configuration for production environment
  script.js
Labels: none

update3
  backend/server.js
  index.html
  nginx.conf
  script.js
  styles.css
Labels: area/backend, area/security

Fix asset assignment dropdown employee selection preservation issue
  index.html
  script.js
Labels: none

Fix multiple issues and implement comprehensive improvements
  backend/server.js
  index.html
  script.js
Labels: area/backend, area/security

로그인 모달 추가 및 최근 활동 업데이트 기능 구현
  backend/server.js
  index.html
  script.js
  styles.css
Labels: area/backend, area/security

Fix LDAP authentication issues and improve frontend auth flow
  LDAP.md
  backend/lib/ldapAuth.js
  script.js
Labels: area/backend, area/documentation

Complete LDAP authentication implementation with UI improvements
  LDAP_SETUP.md
  backend/.env.example
  backend/package.json
  backend/server.js
  index.html
  nginx.conf
  styles.css
Labels: area/backend, area/documentation, area/security, dependencies

Fix JWT token expiration and data disappearance issue
  backend/server.js
  script.js
Labels: area/backend, area/security

Fix remaining 8h token expiration to complete 24h fix
  backend/server.js
Labels: area/backend, area/security

Update script.js cache-busting version to force browser refresh
  index.html
Labels: none

Force login modal display with stronger cache-busting and token clearing
  index.html
  script.js
Labels: none

Create new script file to bypass cache and force login modal
  index.html
  script-new.js
Labels: none

Add inline script to force login modal display
  index.html
Labels: none

Fix nginx root directory to serve updated files
  nginx.conf
Labels: none

Add comprehensive user management system for admin role
  backend/server.js
  index.html
  script.js
  styles.css
Labels: area/backend, area/security

Fix admin user management tab visibility issue
  index.html
  script.js
  styles.css
Labels: none

Transform login from modal to full-screen page like Jenkins
  index.html
  script.js
  styles.css
Labels: none

Fix nginx.conf root path for Docker container deployment
  nginx.conf
Labels: none

로그인 화면 컨테이너 너비 확장
  styles.css
Labels: none

Fix permission error handling and admin-only delete buttons
  script.js
Labels: none

Fix deactivated user login bypass in LDAP authentication
  backend/server.js
Labels: area/backend, area/security

Fix admin password and add comprehensive debugging
  backend/server.js
  test_deactivation.js
Labels: area/backend, area/security

Deploy production version with admin password fix
  backend/server.js
  test_deactivation.js
Labels: area/backend, area/security

Add tab state persistence on page refresh (F5)
  script.js
Labels: none

Fix user management data loading on page refresh
  script.js
Labels: none

Fix data loading for all tabs on page refresh
  script.js
Labels: none

Add login instructions with user guidance
  index.html
  styles.css
Labels: none

Reduce JWT token expiration from 24h to 3h for better security
  backend/server.js
  script.js
Labels: area/backend, area/security

Fix LDAP user role preservation issue
  backend/server.js
Labels: area/backend, area/security

Fix hardware serial number display issue
  script.js
Labels: none

Add tablet option to hardware asset types
  index.html
Labels: none

Fix hardware assignee field mapping to display assigned users correctly
  script.js
Labels: none

Allow all users to access asset assignment functionality
  backend/server.js
Labels: area/backend, area/security

Restrict asset return functionality to admin/manager roles only
  backend/server.js
  script.js
Labels: area/backend, area/security

Fix infinite page refresh loop on login page
  script.js
Labels: none

Add aggressive cache busting and localStorage cleanup for login fix
  index.html
Labels: none

Fix login form auto-fill and infinite refresh issues
  index.html
Labels: none

Reduce login instruction box size and remove password change notice
  index.html
  styles.css
Labels: none

Fix infinite browser refresh loop causing favicon spinning
  script.js
Labels: none

Remove hardcoded admin credentials auto-fill from login form
  script.js
Labels: none
